//Fonts
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,100;1,600&display=swap');

//Variables
$bg_Color:cadetblue;
$bg_color_sec:antiquewhite;
$bg_color_hlight: aqua;
$font_color_2:white;

*{
    margin:0;
    font-family: 'Kanit', sans-serif;
    min-width:250px;
}

body{
    width: 95vw;
    background: $bg_Color; 
    margin:0 auto;   
    min-width:250px;
    overflow: visible;

    display: flex;
    flex-direction: column;
    align-items: center;

    nav{
        width: 85vw;
        
        max-height: 7vh;
        position: fixed;
        top:0;

        display: flex;
        flex-direction: row;
        justify-content:space-between;
        align-items: center;

        background: $bg_color_sec;
        border-radius: 0 0 15px 15px;       

        h1{
            width:50%;
            margin: 2vh 5vw;
            min-width: auto;
        }

        ul{
            width:fit-content;
            list-style: none;
            margin-right:5vw;
            justify-self: right;
            min-width: auto;
            display: flex;
            gap: 2vw;

            li{
                cursor:pointer;
                min-width:inherit;                               
            }
        }

    }

    main{
        margin: 7.5vh auto 0;
        width: 85vw;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        border-radius: 15px;
        background: $bg_color_sec;


    }

    #new_task{ 
        border:2px solid black;
        position: absolute;
        top:10vh;
        z-index: 2;

        height: fit-content;
        width: fit-content;
        margin: 0 auto;
        max-width: 500px;        

        background-color: $bg_Color;
        border-radius: 15px;

        form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            row-gap: 1.5vh;
            margin: 3vh 2vw;       
            min-width:250px;

            color:white;            

            textarea{
                resize: none;
                padding:1vh 1vw;
                width: 35vw;
                border-radius: 15px;
                max-width: calc(500px - 2vw - 4vw);
                border-style: inset;
                border:2px solid black;
            }

            input{
                width: 36vw;
                border-radius: 15px;
                max-width: calc(500px - 4vw);
            }

            div{
                display: flex;
                align-items: baseline;
                gap: 1vw; 
                width: fit-content;               

                input{
                    min-width: auto;
                    width: auto;
                }
                
                button{
                    display: flex;
                    min-width: auto;
                    width: 50%; 
                    border-radius: 5px;                   
                }
            }
        }
    }

    #filter_task{ 
        position: absolute;
        z-index: 10;
        width: fit-content;
        min-width: 0;
        

        ul{
            list-style: none;
            min-width: 0;
            width: fit-content;
            padding-inline-start:0;
            background: $bg_color_sec;
            padding: 0.3vh 0.5vw;
            

            li{ 
                min-width: 0;
                background: $bg_Color;
                border-radius: 3px;
                padding: 0.2vh 0.5vw;
                margin: 0.3vh auto;
                
            }

            :hover{
                background: $bg_color_sec;
                color:$bg_color_hlight;
            }
        } 
    }


    #task_view{
        margin: 1vh auto;

        article{  
            display:flex;
            flex-direction: row;
            justify-content: left;
            align-items:first baseline;
            flex-wrap: wrap;
            
            width: 80vw;
            padding: 0.5vh 1vw;
            margin:0 auto;
            border-bottom: 2px solid black;            

            input[type = checkbox]{
                max-width: fit-content;
                min-width:2vw;
                height: 2vh;
                width: 5vw;
                margin: 0;
                align-self:first baseline;              
                
            }
           p{
               // max-width: 30%;
                min-width: 100px;
                width: 15vw;
                padding-left: 0.5vw;
                overflow: hidden;                
            }  

            :last-child{
                width:fit-content;
                //max-width: 50vw;
                
            } 
            
            @media screen and (width < 756px) {
                :last-child{
                    width:80vw;
                    max-width: 80vw;
                }                
            }             
        }

        >:hover{
            border-radius: 5px;
            background-color: $bg_color_hlight;
        }
        
        > article:nth-last-of-type(1){
            border-bottom:none;
        }
    }

    .floating_bubble{
        position: absolute;
        z-index: 10;
        width: fit-content;
        min-width: auto;
        padding: 1vh 2vw;
        border: 2px solid black;

        border-radius: 15px;
        background-color: $bg_Color;

        font-weight: bold;
        text-transform: capitalize;
        color: $font_color_2;
    }
}

.invisible{
    display:none;
}
