@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,100;1,600&display=swap");
* {
  margin: 0;
  font-family: "Kanit", sans-serif;
  min-width: 250px;
}

body {
  width: 95vw;
  background: cadetblue;
  margin: 0 auto;
  min-width: 250px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body nav {
  width: 85vw;
  max-height: 7vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: antiquewhite;
  border-radius: 0 0 15px 15px;
}
body nav h1 {
  width: 50%;
  margin: 2vh 5vw;
  min-width: auto;
}
body nav ul {
  width: fit-content;
  list-style: none;
  margin-right: 5vw;
  justify-self: right;
  min-width: auto;
  display: flex;
  gap: 2vw;
}
body nav ul li {
  cursor: pointer;
  min-width: inherit;
}
body main {
  border: 1px solid black;
  margin: 7.5vh auto 0;
  width: 85vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  background: antiquewhite;
}
body #new_task {
  border: 2px solid black;
  position: absolute;
  top: 10vh;
  z-index: 2;
  height: fit-content;
  width: fit-content;
  margin: 0 auto;
  max-width: 500px;
  background-color: cadetblue;
  border-radius: 15px;
}
body #new_task form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  row-gap: 1.5vh;
  margin: 3vh 2vw;
  min-width: 250px;
  color: white;
}
body #new_task form textarea {
  resize: none;
  padding: 1vh 1vw;
  width: 35vw;
  border-radius: 15px;
  max-width: calc(500px - 2vw - 4vw);
  border-style: inset;
  border: 2px solid black;
}
body #new_task form input {
  width: 36vw;
  border-radius: 15px;
  max-width: calc(500px - 4vw);
}
body #new_task form div {
  display: flex;
  align-items: baseline;
  gap: 1vw;
  width: fit-content;
}
body #new_task form div input {
  min-width: auto;
  width: auto;
}
body #new_task form div button {
  display: flex;
  min-width: auto;
  width: 50%;
  border-radius: 5px;
}
body #filter_task {
  position: absolute;
  z-index: 10;
  width: fit-content;
  min-width: 0;
}
body #filter_task ul {
  list-style: none;
  min-width: 0;
  width: fit-content;
  padding-inline-start: 0;
  background: antiquewhite;
  padding: 0.3vh 0.5vw;
}
body #filter_task ul li {
  min-width: 0;
  background: cadetblue;
  border-radius: 3px;
  padding: 0.2vh 0.5vw;
  margin: 0.3vh auto;
}
body #filter_task ul :hover {
  background: antiquewhite;
  color: aqua;
}
body #task_view {
  margin: 1vh auto;
}
body #task_view article {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: first baseline;
  flex-wrap: wrap;
  width: 80vw;
  padding: 0.5vh 1vw;
  margin: 0 auto;
  border-bottom: 2px solid black;
}
body #task_view article input[type=checkbox] {
  max-width: fit-content;
  min-width: 2vw;
  height: 2vh;
  width: 5vw;
  margin: 0;
  align-self: first baseline;
}
body #task_view article p {
  border: 1px solid black;
  min-width: 100px;
  width: 15vw;
  padding-left: 0.5vw;
  overflow: hidden;
}
body #task_view article :last-child {
  width: fit-content;
}
@media screen and (width < 756px) {
  body #task_view article :last-child {
    width: 80vw;
    max-width: 80vw;
  }
}
body #task_view > :hover {
  border-radius: 5px;
  background-color: aqua;
}
body #task_view > article:nth-last-of-type(1) {
  border-bottom: none;
}
body .floating_bubble {
  position: absolute;
  z-index: 10;
  width: fit-content;
  min-width: auto;
  padding: 1vh 2vw;
  border: 2px solid black;
  border-radius: 15px;
  background-color: cadetblue;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.invisible {
  display: none;
}

/*# sourceMappingURL=style_sass.css.map */
